{% include 'components/header.twig' %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 box">
            {% include 'components/alerts.twig' %}
            <form action="{{ path_for('actionRecover') }}" method="post">
                <div class="form-group">
                    <label id="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Introduceti numele de utilizator">
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-default">Recover</button>
                        <a href="{{ path_for('login') }}" class="btn btn-primary">Login</a>
                        <a href="{{ path_for('register') }}" class="btn btn-warning">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'components/footer.twig' %}