{% include 'components/header.twig' %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 box">
            {% include 'components/alerts.twig' %}
            <form action="{{ path_for('actionChangePassword') }}" method="post">
                <div class="form-group">
                    <label id="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Introduceti o pralola noua">
                </div>
                <div class="form-group">
                    <label id="conf_password">Confirm password</label>
                    <input type="password" class="form-control" name="conf_password" id="conf_password" placeholder="Confirmati parola noua">
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <input type="hidden" name="key" value="{{ key }}">
                        <button type="submit" name="submit" class="btn btn-default">Change password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'components/footer.twig' %}